--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
pyworld==0.3.5
coqui-tts
faster-whisper
pyannote.audio
numpy<2.0
transformers==4.40.0
huggingface-hub==0.22.2
demucs
pydub
noisereduce
scipy
gradio==3.50.2
fastapi==0.99.1
yt-dlp
fugashi
unidic-lite
jieba
pypinyin
jamo
cutlet
mecab-python3
